[2017-12-02 14:28] ppxasjsm opened #1 "Write introduction"

[2017-12-02 14:29] ppxasjsm opened #2 "write abstract"

[2018-04-04 19:19] andrrizzi opened #4 "Pick relative or absolute, weak binders, and restraint bias"
Might be early for rounds of comments, but I wanted to save these somewhere. I'm not a practitioner of relative free energy calculations so apologies if some of this doesn't make sense, but here are a couple of points that might need to be clarified in the paper.

- **Section 5/Checklist**: Since the paper is targeted towards new practitioners, it might be useful to give a broad overview that **gu

[2018-04-04 19:50] davidlmobley commented on #4
In general all of that would be great, but some are still research questions, e.g. no one has yet compared efficiency of absolute vs relative calculations that I know of. So I don't know that we can give a guide that's founded on anything other than "conventional wisdom" which, outside our groups, mainly means "always do relative calculations unless you have to do absolute."

Relative calculations

[2018-04-04 19:57] jchodera commented on #4
I think we can at least illustrate where this arises from: If the restraints are kept on during an absolute calculation, the bound species is explicitly being defined by the restraint. If the restraints are turned on during an absolute calculation, the kinetically accessible region (which may be poorly defined) is used to define the binding site. There are pitfalls with both approaches that we can

[2018-04-04 21:50] jmichel80 commented on #4
In  J. Mol. Biol., 429(16), 2556-2570 2017 we used flat-bottom distance restraints on fragments to keep them bound to a target pocket. This was deemed necessary because the non-binders tended to unbind otherwise during some windows, clouding the interpretation of the calculated binding energies. We also wanted to compare binding energies for different pockets.

Yes this is important to mention.
We

[2018-07-14 17:56] mrshirts opened #7 "Question on documents"
There are two documents: 'manuscript.tex' and paper/manuscript.tex. It looks like the one in the main directory is more complete, but doesn't compile because of the lack of the style sheet.  Do I have permission to copy 'manuscript.tex' over to 'paper/manuscript.tex' and delete the redundant file?

[2018-07-14 17:56] mrshirts opened #8 "New templates?"
New templates were just released a couple of weeks ago: I can go ahead and install them if that's OK.

[2018-07-15 23:15] mrshirts commented on #7
There's also a jdc_edits branch.  This week will be the best time for me in a while to work; so give us a little direction as to which way to go, and I cram in some text and do some cleanup.

[2018-07-18 14:34] ppxasjsm commented on #8
I have merged your pull request. Thank you for updating!

[2018-07-18 14:34] #8 closed

[2018-07-18 14:50] ppxasjsm commented on #7
Apologies for the delay in reply. I have merged your updates @mrshirts. The default branch should be v1.0 from which to branch.

@jchodera can I merge the stuff from your branch into v1 in terms of abstract and introduction?

[2018-07-18 15:41] mrshirts commented on #7
I would go ahead and merge in so we have all the information there.

[2018-07-18 15:43] ppxasjsm opened #10 "Some book keeping"
A few things that will make life easier I suppose.

- Bibilography
@jchodera / @andrrizzi could you share your bib file for the bibliography entries in the introduction?

-Conor Parks
He emailed early on saying that he will not be contributing. I will remove him from the author list and mention him in the acknowledgements instead, since he was part of the original meeting.

-Sections:
@ppxasjsm wi

[2018-07-18 15:50] ppxasjsm commented on #7
Going ahead with this.

[2018-07-18 15:50] #7 closed

[2018-07-20 16:09] mrshirts commented on #10
For bibliography, I suggest Zotero.  I have created a public / closed membership library at https://www.zotero.org/groups/2207075/best_practices_in_free_energy_calculations, and invited the people here (though not @samarjeet, I don't have email, not sure if participating).  I am about to dump a lot of papers in there to start off.

We can then simply export the bibliography from zotero to regenera

[2018-07-20 16:34] jchodera commented on #10
Zotero cite keys can be a pain because they may not be synchronized among users. Any suggestions for how to ensure those are uniform?

[2018-07-20 16:44] mrshirts commented on #10
I think it should be possible to update the keys with BetteBibTex if there's consensus how to do them.

[2018-07-20 18:11] jchodera commented on #10
I chatted with @lnaden and @andrrizzi today, and they're working on their assigned components over the next few days.

[2018-07-20 22:41] mrshirts commented on #10
John do you have a preferred format? I can try to rewrite the keys so we have consistent formatting.

[2018-07-21 16:03] jchodera commented on #10
I always use `[auth]:[journal]:[year]`, but (1) you have to be consistent about whether or not you export using journal abbreviations, and (2) even then, I find it's difficult for two different people to export exactly the same format.

To be honest, I've been creating bibliographies simply by searching for the paper on google scholar and clicking the `"` symbol underneath to grab the bibtex citat

[2018-07-27 21:50] andrrizzi commented on #10
Sorry, @ppxasjsm. I just noticed this comment. I'm actually currently working to expand section 7.1.2 about the use of restraints in absolute calculations. I realize now that that `TODO` comment from me and Levi was ambiguous. Let me know if somebody else intends to contribute to that section too.

[2018-07-27 22:04] jmichel80 commented on #10
I'd like to contribute to the topic on restraints. Will do after you had a
go at it.

--------------------------------------------------------------
Dr. Julien Michel,
Royal Society University Research Fellow
Room 263, School of Chemistry
Joseph Black Building, University of Edinburgh
David Brewster Road

Edinburgh

EH9 3FJ
United Kingdom
phone:   +44 (0)131 650 4797
http://www.julienmichel.net/
-

[2018-07-30 13:00] andrrizzi commented on #10
Ok, thank you. I plan to push my edits later today.

[2018-08-06 21:30] mrshirts commented on #10
Getting this set up now.

Looks like BetterBibTex can do either full journal name, or abbreviation ('J. Chem. Theory Comput.' becomes JCTC). Thoughts on whether this works?

[2018-08-07 04:28] davidlmobley commented on #10
@mrshirts - it's all about what abbreviation you put in your "journal abbreviation" field in Zotero. I usually would put in "J. Chem. Theory Comput." and then the key becomes "Yu:2018:J.Chem.TheoryComput." or similar.

[2018-08-07 05:15] mrshirts commented on #10
Right, yes, if I use {journal} in the Zotero automatic abbreviation key, we get whatever is in the journal field.  If using {journal.abbr}, then it becomes the abbreviation, meaning just the acronym, not the standard journal abbreviation.

To some extent, this only matters for writing, because with BetterBibTex, Zotero can update the keys in the library.

[2018-08-07 05:34] davidlmobley commented on #10
I use {journal.abbr} and normally get the journal abbreviation, which (in mine) is usually something like "J. Chem. Inf. Model." or similar. It removes spaces when generating the key. I don't usually get acronyms; perhaps there is something wrong with your widget for importing.

[2018-08-07 05:37] mrshirts commented on #10
This is using Zotero->Preferences->Better BibTex -> Citation keys, and using the string [auth]:[journal:abbr]:[year]. The help says it uses the JabRef citation key patterns (https://help.jabref.org/en/BibtexKeyPatterns), which does state that :abbr modifier abbreviates as an acronym.  So it seems to be working as document.

[2018-08-08 22:02] davidlmobley commented on #10
@samarjeet are you contributing to this?

[2019-01-21 23:14] ppxasjsm opened #16 "Next steps"
Hi all,

apologies for the long silence, but this is an attempt to revive this manuscript and get it to a publishable state for the next issue of livecoms. I will identify tasks in the next days and would be happy to assign them to willing volunteers (Including myself). Are people ok with this idea? @andrrizzi, @jchodera, @davidlmobley, @Lnaden, @mrshirts, @brycestx

Also would everyone be interes

[2019-01-22 00:16] jchodera commented on #16
I'm in! I arrive in NYC and am available to do lots of writing through Feb.
@andrrizzi is in Italy now and may be easier to coordinate in your time zone.

[2019-01-22 14:36] ppxasjsm commented on #16
Thanks @jmichel80, @brycestx and @jchodera  sounds great!

[2019-01-24 04:45] davidlmobley commented on #16
I'm happy to contribute some and will certainly have time to edit. I won't have time to do lots of combing the literature but I can probably generate some significant blocks of text if you give me well-defined things you want written (I write and edit fast; it's the other parts which are slow).

[2019-01-28 17:33] ppxasjsm opened #18 "test"
Hi all,
it would be great to get some people together for a virtual meetup. I would propose the following two dates and if at least 3+ people can join we can go ahead with a virtual discussion and share the outcome with the rest.

I'll pick the option with most people available, currently by default I can make all of the suggested times:

Wednesday, January 30th options:
/poll "11:30am EST" "3:00

[2019-01-28 17:44] #18 closed

[2019-01-28 17:45] ppxasjsm opened #19 "Virtual meetup"
Hi all,
apologies for Spamming. Trying to get the polling feature to work.
it would be great to get some people together for a virtual meetup. I would propose the following two dates and if at least 3+ people can join we can go ahead with a virtual discussion and share the outcome with the rest.

I'll pick the option with most people available, currently by default I can make all of the suggested

[2019-01-28 18:03] ppxasjsm commented on #19
Topics to I would like to talk about:

- Identify a set of figures to enhance the comprehensibility of the manuscript. @jchodera suggested asking Christopher Fennell to illustrate them if he was interested.

- Identify clear heading sections to be easily assigned for people to write sections.

- Draft project board to make it easier to keep track of progress, this is primarily for myself, but I wo

[2019-01-30 15:40] samarjeet commented on #19
Hi,
  Are we meeting today at 11:30 EST?

[2019-01-30 16:04] ppxasjsm commented on #19
Hi,

I set up a meeting for next Monday, since it was easier for me than today.

I’ll send you an invite, must have missed you off the invite list. Apologies.

Toni
--
Dr Antonia Mey
University of Edinburgh
Department of Chemistry
Joseph Black Building
Edinburgh
EH9 3FJ

Tel: +44 1316507748
________________________________
From: Samarjeet <notifications@github.com>
Sent: 30 January 2019 15:40:35
T

[2019-02-20 10:26] #19 closed

[2019-02-20 10:26] #2 closed

[2019-02-20 10:26] #1 closed

[2019-02-20 10:34] ppxasjsm opened #20 "4.1 and 4.2 subsection on de-correlation and subsampling"
Subsection on: Equilibration detection, decorrelation and subsampling

[2019-02-20 10:36] ppxasjsm opened #21 "8.3 Typical ways of examining output ways and useful plot"
Examining output data for common problems with discussions of what exactly to plot or look at; examples of typical curves for dV/dlambda and free energy versus lambda, etc.

[2019-02-20 10:38] ppxasjsm opened #22 "8.4 Estimators for free energies"
TI, MBAR, BAR, other estimators?

[2019-02-20 10:41] ppxasjsm opened #23 "8.5 Uncertain estimation"
What are good strategies to report uncertainties on DG and DDG?

[2019-02-20 10:43] ppxasjsm opened #24 "8.6 Cycle closure errors"
A subsection on discussing how to deal with cycle closures.

[2019-02-20 10:47] ppxasjsm opened #25 "Section 5 What can be expected from alchemical simulations"
@davidlmobley I think it would be great if Huafeng could write part of this section. I will email him separately, but just putting it here so that I remember.

[2019-02-20 10:50] ppxasjsm opened #26 "Section 10: Available software summary"
This section should include a selection of alchemical free energy simulations software commercial and free, setup tools for these and analysis tools, with links to installation instructions and publications where available.

[2019-02-20 10:54] ppxasjsm opened #27 "Section 7.1.0 What is a dual and single topology"
I think it would be beneficial to add a bit on describing how single dual and mixed topologies work. Exact location in the manuscript to be determined.

[2019-02-20 10:56] ppxasjsm opened #28 "Section 6 Simulation prerequisites"
What are the typical steps to setup a simulation either for absolute or free calculations

[2019-02-20 10:57] ppxasjsm opened #29 "Reference inclusion in the manuscript"
Adding appropriate references.

[2019-02-20 10:59] ppxasjsm opened #30 "Figure - relative free energy thermodynamic cycle"
I don't really want to volunteer people for figures, I am just putting it out here that they will need to be created or adapted from existing ones.

[2019-02-20 10:59] ppxasjsm opened #31 "Figure - absolute free energy thermodynamic cycle"

[2019-02-20 11:00] ppxasjsm opened #32 "Figure (s) - typical plots for analysis"
Example plots for a typical analysis.

[2019-02-20 11:18] ppxasjsm opened #33 "Section 7.+ Stopping conditions section for simulations"
What are typical simulation stopping conditions?
Data saving and frequency, what is essential for analysis?

[2019-03-19 10:55] jmichel80 commented on #28
First pass written up, references to be added later.

[2019-03-19 11:06] jmichel80 commented on #27
Seems like this is covered by 7.1.1 already

[2019-03-19 11:54] jmichel80 commented on #24
First pass done, considering adding a diagram

[2019-03-20 12:52] ppxasjsm commented on #24
Thank you!

[2019-03-28 19:25] davidlmobley commented on #25
Took a pass at this in Overleaf. I'll also e-mail Huafeng.

[2019-03-28 19:27] ppxasjsm commented on #25
Thank you!

[2019-03-28 20:19] davidlmobley commented on #32
I sent this to a couple people, including group members; should have something within a couple days:

For the free energy best practices paper for LiveCoMS, we need some representative graphs of analysis of binding free energy calculations. Do you have anything good which would be helpful that you can share (for reuse!)

Offhand I think of a couple things:
1) Convergence plots: Showing computed bi

[2019-03-28 20:33] jmichel80 commented on #32
Offhand I think of a couple things:

  1.  Convergence plots: Showing computed binding free energy versus time (could be absolute or relative) both for (a) a well behaved or fast case, and (b) a problematic or slow case

We could use some SAMPling plots or just dig up data from SAMPL5 for absolute host-guest cases.

  1.  Overlap matrix (e.g. from alchemical-analysis), probably for both good and b

[2019-03-28 21:32] davidlmobley commented on #32
@jmichel80 :

This would be great. Do you have this data?

[2019-03-28 21:45] ppxasjsm commented on #32
Yeah I have all the overlap matrices data etc. I’ll compile something.

[2019-03-29 21:35] Lnaden commented on #33
I've made a pass on this section, as has @brycestx.

[2019-03-30 12:31] ppxasjsm commented on #33
Great! Thanks a lot!

[2019-04-03 00:21] davidlmobley commented on #33
Should we mark this as closed, @ppxasjsm ?

[2019-05-08 17:52] ppxasjsm commented on #28
I have gone through your draft and made some additions. I will circulate a draft shortly.

[2019-05-08 17:52] #28 closed

[2019-05-08 18:13] ppxasjsm commented on #22
@mrshirts, if you could focus on this section that would be great! It's in section 4 (step 3) number 4 of the current version of the manuscirpt.

[2019-05-08 18:19] ppxasjsm commented on #21
I am preparing some plots for this and am happy to contribute here.

[2019-05-08 18:21] ppxasjsm commented on #20
@jchodera I know you are very busy, but if you could make a first pass at this or delegate for someone to make a pass at this section that would be awesome. Thanks! I am happy to make some plots if that is at all helpful.

[2019-05-13 05:21] brycestx commented on #23
Great, almost finished writing and compiling references for this section. I will update when finished and added to overleaf

[2019-05-15 11:07] ppxasjsm commented on #23
Hey @brycestx how are you getting on here? I haven't seen an update on overleaf yet. Any can add it?

[2019-05-15 13:23] brycestx commented on #23
Hey @ppxasjsm that's interesting, you don't see any edits added at line 840? (I think my username is b.allen10 but I'm not sure how I show up on overleaf). I am still working on adding more substance and examples to the section and will update when I am finished.

[2019-05-15 13:35] ppxasjsm commented on #23
Ah sorry, I missed this amongst Michael shirts updates. Do you know when you will be done with your updates?

[2019-05-16 03:00] brycestx commented on #23
@ppxasjsm great question. I was hoping to have it done last weekend, but alas it is already midweek. I will have it done by Friday morning.

[2019-05-16 23:53] brycestx commented on #23
@ppxasjsm Done with my updates for now.

[2019-05-16 23:54] brycestx commented on #21
@ppxasjsm I added a figure looking at differences in forward and reverse free energy estimation using different fractions of the simulation.

[2019-05-19 11:30] ppxasjsm commented on #23
Thank you!

[2019-05-19 11:30] #23 closed

[2019-05-19 11:31] ppxasjsm commented on #21
Figure looks great! Thanks.

[2019-11-11 22:37] ppxasjsm commented on #31
figure6 fulfils this.

[2019-11-11 22:37] #31 closed

[2019-11-11 22:38] ppxasjsm commented on #30
Figure 3 shows this.

[2019-11-11 22:38] #30 closed

[2019-11-11 22:39] #24 closed

[2019-11-11 22:39] ppxasjsm commented on #20
Yey first pass is done!

[2019-11-11 22:39] #20 closed

[2019-11-11 22:49] ppxasjsm opened #35 "raw data for figure 7 -- convergence of DG from SAMPL"
I have been going through figures again. It would be quite useful to get the data for all of the figures, so that  if in doubt it would be possible to redo some of the plots. I may have had this data already, but can't find it now. Who can help?

[2019-11-11 22:50] ppxasjsm commented on #35
Talking about this figure:
[free_energy_trajectories.pdf](https://github.com/michellab/alchemical-best-practices/files/3833519/free_energy_trajectories.pdf)

[2019-11-12 04:07] mrshirts commented on #35
So, the person who generated this is @andrrizzi IIRC.

[2019-11-12 14:15] andrrizzi commented on #35
I still have figures and code I used to generate this. I'll upload both of them in the paper/figures/fig7 directory in the next few days.

[2019-11-12 14:44] ppxasjsm commented on #35
Yes please do! Thank you :)

[2019-11-22 00:46] #35 closed

[2019-11-22 10:33] ppxasjsm opened #37 "[Figure X] Sampling schemes figure [help]"
I am trying to converge on some of the figures, before finally sending out a paper draft.

I have created the following figure to illustrate different sampling schemes for alchemical free energies. Happy to hear some thoughts on it for improvements.

[sampling_schemes.pdf](https://github.com/michellab/alchemical-best-practices/files/3879081/sampling_schemes.pdf)

[2019-11-22 10:38] ppxasjsm opened #38 "[Figure 2] Illustrating lambda scheme figure [help]"
As one of the figures I wanted a clear conceptual figure that explains how the lambda switching works, but using a concrete example to make it easier to understand. I also wanted to make a connection to thinking of it in terms of probability distributions to then make the concept of overlap easier to understand later on.

Below is my first pass at this figure. I would appreciate any comments, or s

[2019-11-22 10:51] ppxasjsm opened #39 "[Figure 1] What types of simulations can be run using alchemical simulations"
This will be the first figure in the paper and it should illustrate what different types of free energies can be estimated using alchemical free energy protocols and therefore give a broad overview where the method can be useful.

I have drafted a very crude outline of the figure and @JenkeScheen has kindly agreed to flash it out a little. The basic idea is a cartoon representation of the type of

[2019-11-22 11:00] JenkeScheen commented on #37
- The figure might be clearer divided into distinct panels (square, 2x2)
- Either use the stopwatch icon or 'time'; both is double
- The dashed arrows in B are off. I would suggest using black dashed lines without arrowheads (same for C)
- In D, ns/μs counts for the whole figure, so should be somewhere up top
- Personally I like kde-plot-like distributions better than filling up the AUC
- The dist

[2019-11-22 11:20] ppxasjsm commented on #37
I agree

Good point

mmh yeah I know they are off...will work on that bit. There is a difference between the B ones, one is accepted and the other isn't. Colour may not be the best either.

Nope it does not. You run much longer simulations for the non-equilibrium scheme. I should probably give a time estimate for the other ones though.

The filling up in this case indicates whether the sampling ca

[2019-11-22 12:09] ppxasjsm commented on #37
Updated version:
[sampling_schemes.pdf](https://github.com/michellab/alchemical-best-practices/files/3879409/sampling_schemes.pdf)

[2019-11-22 12:13] JenkeScheen commented on #39
![types_of_sims_using_afe](https://user-images.githubusercontent.com/43140137/69424715-3efbe980-0d21-11ea-848b-83a69d3a4bea.jpg)

here's a draft version. I'm not entirely sure how to represent relative binding free energies without a thermo cycle, let me know if you have any alternative ideas.

[2019-11-22 12:15] JenkeScheen commented on #39
I think the difference in carbon colouring is because of a messy JPEG export (or maybe it's just my screen)

[2019-11-22 12:33] JenkeScheen commented on #37
great! the boxes do a good job in seperating the methods. Some more nitpicking:
-  all sections have a slight kink in the second distribution
- section B's distributions are disconnected from the vertical black line
- perhaps it would make sense to remove 'neq MD' from D seeing as all other sections are minimally verbose too. Neq MD would be mentioned in the figure description I would assume

[2019-11-22 12:56] mrshirts commented on #38
One issue is that too many colors are changing, indicating that more things are changing than should be.  The "solvent" is changing color (blue to orange), but also the chemical moiety.  It might be better if the part of the chemical that is present in A was the color of the distribution in B, with the solvent remaining the same.

I think there does need to be x and y labels on the distributions.

[2019-11-22 12:59] ppxasjsm commented on #37
But it's a KDE!

Mmmh dunno. I think D needs more info anyway.

[2019-11-22 13:04] ppxasjsm commented on #38
I agree with the colour changes! I think a soft-core plot of some sort would be a good idea, but unsure how to visualise it. I find it difficult to understand what I am looking at in the attached plot. I'll have a think about softcore, or how to visualise this. We would have to point out that this is just one example though rather than all alchemical schemes use soft core.

[2019-11-22 16:07] mrshirts commented on #38
Sorry if the graph is not clear.  It's a curve where U(r,lam=0) = 0, and where U(r,lam=1) = Lennard-Jones potential.  It smoothly interpolates between the two potentials.

[2019-11-22 16:07] mrshirts commented on #38
I can work on a new version later today. . .

[2019-11-22 16:29] jmichel80 commented on #39
also could include conformational energies, for instance free energies between binding modes.

--------------------------------------------------------------
Dr. Julien Michel,
Senior Lecturer
Room 263, School of Chemistry
University of Edinburgh
David Brewster road
Edinburgh, EH9 3FJ
United Kingdom
phone:   +44 (0)131 650 4797
http://www.julienmichel.net/
-----------------------------------------

[2019-11-22 18:25] ppxasjsm commented on #38
Thanks. I am likely to work on the draft on Sunday again and happy to coordinate.

[2019-11-25 14:19] andrrizzi commented on #39
Good job! They look great. I agree that change in conformations could be a good addition.

For E, this gives me more the idea of an umbrella-sampling-type calculation. Is the idea here to represent partition free energies? In this case, doing something like water to octanol would be another way to consider it.

Yes, this is a tricky one. And, given the target audience, I think we need to be carefu

[2019-11-25 14:30] mrshirts commented on #38
See PR #40 for additional graphics.

[2019-11-27 19:08] davidlmobley commented on #39
@ppxasjsm and all -- I see I've been assigned a variety of things on here. They've now made my to-do list and I'll visit as soon as possible, but please make as much headway as possible without me. I'm dealing with SAMPL deadlines at the moment and am unlikely to get anywhere on these for at least a few days or more.

[2019-11-27 22:33] ppxasjsm commented on #39
@davidlmobley, it’s really just about a quick feedback on figures before they go into the draft, so no problem if you struggle to find the time to look at them now.

[2019-11-29 17:27] ppxasjsm commented on #38
[Fig2.pdf](https://github.com/michellab/alchemical-best-practices/files/3906066/Fig2.pdf)

New attempt incorporating softcore potential and colour updates.

[2019-11-29 17:35] ppxasjsm commented on #39
@JenkeScheen thanks for creating this figure.  Asthetics are looking great already. I do have a few comments though. I am not sure I like D, as I don't think it is clear that this is a mutational change, I think there should be an explicit change to the host molecule.

For C which I assume is the partition coefficient using indeed two different solvents would be good and not just a hydration free

[2019-12-02 15:26] JenkeScheen commented on #39
I made some changes  based on your comments  and ordered the rows more logically.

@andrrizzi agreed. I used methanol instead of octanol to save space though.
@ppxasjsm for the membrane insertion it might not be very aesthetic if we label the membrane. On the other hand, if we're including a 'host' tag in figure 3 shouldn't we do that here too?
I introduced a gap between the chains though, does th

[2019-12-04 21:44] davidlmobley commented on #39
Overall this looks great, except that I wouldn't understand the imagery of D and E in the latest version (https://github.com/michellab/alchemical-best-practices/issues/39#issuecomment-560444444)  without considerable explanation. If D is showing a protein mutation, I would want to show the ring actually bonded to a protein, and then show an R group getting added to it -- so sort of like F in that

[2019-12-04 21:46] davidlmobley commented on #38
Overall this is looking great. I'm wondering if the bottom two panels should have inlaid cartoons showing what the energy represented is for (but maybe that's too hard). Otherwise I'm enthusiastic about this one.

[2019-12-04 21:50] davidlmobley commented on #37
On the whole I really like the look of this and I don't have further suggestions. REALLY nice idea to illustrate these this way; people are going to love this figure I think. We'll probably see it everywhere.

[2019-12-04 21:51] davidlmobley commented on #32
I also have on hand (or, rather, my student does) some overlap plots from nonequilibrium binding free energy calculations, both good and bad cases. I can share these if the data/plots would be helpful, @ppxasjsm . LMK!

[2019-12-04 21:52] davidlmobley commented on #25
Is more needed on this @ppxasjsm or are we in OK shape here? LMK if you need me to either nag Huafeng or take another pass.

[2019-12-05 11:46] ppxasjsm commented on #39
I agree in terms of D. It would be good to have a mutation from say H to CH3, indicating a change in the host/protein.

[2019-12-05 12:23] JenkeScheen commented on #39
I chose to make a Ala->Ser mutation in D, is it clearer now @davidlmobley?
I think rows C-E would benefit from tags with 'membrane' or 'host' as Toni did for figure 3. Would you have time to insert that @ppxasjsm? I'm not sure on which font/program you used.
![image](https://user-images.githubusercontent.com/43140137/70234914-a8381f80-1759-11ea-8e47-1f2c29aede0a.png)

[2019-12-05 16:31] ppxasjsm commented on #25
Will let you know if more is required here.

[2019-12-05 20:09] davidlmobley commented on #39
That looks great!!

[2019-12-06 10:24] ppxasjsm commented on #39
I will call this figure done

[2019-12-06 10:24] #39 closed

[2019-12-06 10:52] ppxasjsm commented on #38
Yeah that would be a nice idea, but lack the skills to do this in a timely fashion.

[2019-12-06 10:52] #38 closed

[2019-12-06 10:58] ppxasjsm commented on #32
@davidlmobley There is this figure for the overlap. If this isn't good enough, happy to hear about improvement suggestions.
[Fig8.pdf](https://github.com/michellab/alchemical-best-practices/files/3931815/Fig8.pdf)

[2019-12-06 11:05] ppxasjsm commented on #37
Great. I'll leave it in its current state for now.

[2019-12-06 11:05] #37 closed

[2019-12-06 11:05] #16 closed

[2019-12-06 11:06] ppxasjsm commented on #4
@andrrizzi Has this been dealt with?

[2019-12-06 11:06] #10 closed

[2019-12-06 11:07] #21 closed

[2019-12-06 11:07] #26 closed

[2019-12-06 11:08] #27 closed

[2019-12-06 15:37] ppxasjsm opened #42 "Fig8/Fig9 sampling convergence and forward and backward"
Do we want both of these figures:
[free_energy_trajectories.pdf](https://github.com/michellab/alchemical-best-practices/files/3932868/free_energy_trajectories.pdf)
[Forward_Reverse_Fig.pdf](https://github.com/michellab/alchemical-best-practices/files/3932870/Forward_Reverse_Fig.pdf)
If so, I need the data for the second one. Or is first figure replacing the second one?

[2019-12-06 16:19] mrshirts commented on #42
I think those are two different things.  The second one is convergence
analysis from the Mobley group, looking at the simulation comparing the
free energy using the first and last N samples,  probably from
https://link.springer.com/article/10.1007/s10822-015-9840-9.  I'm not sure
what the first one is, but it's something different.

On Fri, Dec 6, 2019 at 8:37 AM Toni Mey <notifications@github.com

[2019-12-06 16:21] ppxasjsm commented on #42
Ok I thought so. Any chance you still have data for the forward_reverse_fig.pdf somewhere, so we can not just add the pdf?

[2019-12-06 16:24] mrshirts commented on #42
The data is for forward_reverse_fig.pdf is @davidlmobley 's , not mine.

[2019-12-06 16:29] ppxasjsm commented on #42
Ok, I'll make sure to mention it when assigning bits for review. Mostly just concerned about the size and readability of it as a single column figure.

[2019-12-06 16:37] andrrizzi commented on #42
The idea of free_energy_trajectories.pdf is to give an example of a well-behaved and fast to converge free energy trajectory (orange) vs a problematic one (blue). @davidlmobley asked me to put it together a few months ago. I think the two figures are showing different things, but there's no problem in removing free_energy_trajectories.pdf if we're already making this point in another way or we rec

[2019-12-06 17:11] davidlmobley commented on #32
Looks good to me!!

[2019-12-06 17:13] davidlmobley commented on #42
Those are showing two different things. The less important one is probably the forward/reverse one, but they are different.

[2019-12-10 11:54] ppxasjsm commented on #29
Mostly done.

[2019-12-10 11:54] #29 closed

[2019-12-10 12:01] mrshirts opened #44 "Reference management?"
Just checking how are the references being stored and managed?
 We created https://www.zotero.org/groups/2207075/best_practices_in_free_energy_calculations, but I'm not sure how/if we are using it  I note that Toni is a group member, and added a bunch of them, but none recently, and there are only 5 members (David Mobley, myself, Toni, Julien, Bryce Allen).

Toni, what's the current process for ma

[2019-12-10 12:06] ppxasjsm commented on #44
It is still a zotero file at the moment for most of them. I'll share it to the group. I just created one that only contains references for this paper and not a massively large one with many duplicates in it.

Also using google style cite keys, i.e. lastname_year_firstword (not with the underscores)

On that note, which reference is shirts.bennet, I thinky ou put that in there, but I am not sure wh

[2019-12-10 20:47] agrossfield opened #45 "compiling document fails with missing figures"
Hi all,

As it stands, trying to build a pdf of the document doesn't work well because the figures are referenced as if you're building from the top level directory and saying
`pdflatex paper/manuscript`

, but livecoms.cls, the bib file, and the bst file are in paper, as if you were building inside the paper directory.

I worked around this by copying the cls and bst files into the top level dire

[2019-12-10 21:15] ppxasjsm commented on #45
Thanks will make sure to change that!

[2019-12-11 08:31] ppxasjsm commented on #45
09fd3416484e11c57ef671e327485df3da50dff0 fixes this issue.

[2019-12-11 08:31] #45 closed

[2019-12-11 22:27] ppxasjsm commented on #44
I added a collection called alchemical to the group we have. This collections should contain most of the references apart from a select few that are found in manual.bib (but no extra ones). If you want to add more references directly to the manuscript, please add them to the alchemical collection and export it as a better bibtex. Does this make sense?

[2019-12-11 22:49] ppxasjsm opened #48 "[Sec:1 and Sec:2] Review and check flow"
Section 1 and 2 are in a late draft stage, but happy for changes should they make improvements to the paper. Can @everyone check references, grammar, and general flow.

[2019-12-11 22:50] ppxasjsm opened #49 "[Sec:3] Theory Needs expansion"
This section still needs a little expansion. I am happy to work on it, and have an idea of hopefully a relatively easily digestible approach to it, but if people get there before also happy with that. I'll loosely assign myself in any case.

[2019-12-11 22:51] ppxasjsm opened #50 "[Sec:4 subsection] reproducibility:"
There is a subsection in sec:4 on reproducibility that hasn't been filled in. Can @davidlmobley or @jmichel80 or both of you have a look at it? That would be fantastic. It shouldn't be more than a paragraph that is needed.

[2019-12-11 22:53] ppxasjsm opened #51 "[Sec:4 Can I afford the calculation?]"
What are peoples thoughs on some example calculations regarding affordability? While reading the manuscript I definitely agree that it would be super useful to calculate affordability, but I am not really given the tools on how to do it, or where to look for this information. (Maybe this is fairly obvious, but certainly in terms of synthesis I have no idea myself. )

[2019-12-11 22:55] ppxasjsm opened #52 "[Sec4:, sec:5, sec:6] tidy up"
Section 5 looks at some aspects specific to drug discovery which is nice. It would be good if all of these sections could be reviewed a little and made more concise where possible and improved in structure. I would suggest for people who wrote these sections to do this.

Furthermore, it would be great if @davidlmobley and @jmichel80 could double check the references I have put in, in these section

[2019-12-11 22:59] ppxasjsm opened #53 "[Fig: perturbation network] Review"
I added an additional figure to the paper today showing two types of perturbation networks with @JenkeScheen help. At the moment it is quite plane looking. Should chemical structures or cycle closures or the like be added for ease of discussion in the analysis section?

[Figure.pdf](https://github.com/michellab/alchemical-best-practices/files/3952969/Figure.pdf)

[2019-12-11 23:03] ppxasjsm opened #54 "[sec7:] what simulation protocol should I use"
I haven't spend that much time making changes to this section. At the moment bits of it feel not very precise and lack clear recommendations.

- I would suggest a summary recommendations subsection at the end.
- Maybe adding an illustration on restraints might be helpful, or a discussion in terms of what software supports these kind of restraints easy.
- check the notation, is it consistent with t

[2019-12-11 23:07] ppxasjsm opened #55 "[sec:The importance of the alchemical pathway]"
This section needs work. It is rather general, does not explain concepts well, or give good recommendations that are easy to follow.
@brycestx , @andrrizzi, @Lnaden, @jchodera, and @Huafeng, can you take a look at this? I would quite like a bit more detail on softcore potentials, what do they look like, how do you actually use the lambda to switch between two states. As far as I am aware there are

[2019-12-11 23:08] ppxasjsm opened #56 "[Sec:8] overall review required"
This section has a lot of nice bits, but also still needs a bit of work. Can you again check consistency and references for this section in general? I'll add a couple issues for subsections as well.

[2019-12-11 23:10] ppxasjsm opened #57 "[sec:8:estimators] references"
@mrshirts I think I figured out most of the references in this section, but a couple eluded me. Could you please add them and just generally look over the section?

[2019-12-11 23:11] ppxasjsm opened #58 "[fig9_convergence]"
There is This lovely convergence figure, which I think currently isn't referenced in the text, nor sits in a reasonable place in the manuscript. @andrrizzi could you please find a home for it?

[2019-12-11 23:15] ppxasjsm opened #59 "[sec:8] Missing good analysis practice"
This is more of a general questions. We discuss how to analyse the data and check if the simulations make sense quite thoroughly. I feel there should also be a small subsection on best practices of how to show the results. I was thinking something along these lines here:
 http://practicalcheminformatics.blogspot.com/2019/02/some-thoughts-on-evaluating-predictive.html

And maybe other topics such a

[2019-12-12 00:12] mrshirts opened #60 "How best to add new text?"
Toni, what's the best way to add text over the next 10 days?  Should we do it on Overleaf, or through PR?  Is either mechanism OK?

[2019-12-12 00:14] mrshirts commented on #44
Sounds good.  I'll add invites to the group for everyone to the email list you just sent.

[2019-12-12 00:19] ppxasjsm commented on #60
No idea what the best option is. Either sound good.

[2019-12-12 03:35] mrshirts commented on #60
Is there a preferred way so we don't collide?

[2019-12-12 03:36] mrshirts opened #61 "Authorship proposal"
I would propose that Toni get first authorship (or last, whichever is more useful for her at this point) and the rest of us be ordered alphabetically. I think there is a difference in quantity there.

We can hold off such a decision until it's ready to submit, though.

[2019-12-12 07:37] ppxasjsm commented on #60
Feature branch and pull request is probably easiest. Maybe make an announcement what section you are working on in the issue tracker with a -[WIP] and close when done?

If it’s only small edits track changes in overleaf should be fine I think.

[2019-12-12 17:08] jmichel80 commented on #50
wrote a rough paragraph that could do with a bit of polishing

[2019-12-12 17:09] jmichel80 commented on #61
Yes Toni's contributions should be recognised

[2019-12-12 18:06] davidlmobley commented on #61
I agree, yes.

[2019-12-13 15:20] ppxasjsm commented on #50
Thank you!

[2019-12-17 15:35] andrrizzi commented on #49
Just leaving this comment as a reminder that the standard concentration is also discussed in Section 7 ("Absolute free energy calculations must handle the standard state and use restraints") so that we can avoid unnecessary duplications.

[2019-12-17 19:20] ppxasjsm commented on #49
I think they should be slightly different. Once is background theory, the other is, how you would go about addressing the standard state in simulations.

[2019-12-17 19:56] davidlmobley commented on #56
@ppxasjsm I made it through Section 8 and made a bunch of edits, improved paragraphing, and also added some comments. Some of these probably need to be answered by whoever wrote it -- was that @brycestx ??

[2019-12-17 19:58] davidlmobley commented on #32
Marking this as closed.

[2019-12-17 19:58] #32 closed

[2019-12-17 20:02] davidlmobley commented on #42
We currently have both of these in there, so marking as resolved.

[2019-12-17 20:02] #42 closed

[2019-12-18 10:24] ppxasjsm commented on #61
Thank you for the endorsement. I'll provisionally put me first and will order everyone else alphabetically.

[2019-12-18 23:29] davidlmobley opened #62 "Reference "basic simulation training" rather than giving a list here?"
We have a prior article in LiveCoMS on "basic simulation training" that intends to provide an overview of the basic fundamentals people should know before even starting, along with giving a list of books/materials people may want to read. I wonder if section 2 ought to simply refer to that rather than trying to provide its own, separate list of texts people should read? It seems redundant to do so

[2019-12-18 23:31] davidlmobley commented on #48
I reviewed these in Overleaf, made some edits etc.

[2019-12-18 23:42] davidlmobley commented on #50
This looks good to me, made a few tweaks on Overleaf but marking as resolved.

[2019-12-18 23:42] #50 closed

[2019-12-18 23:48] davidlmobley commented on #51
I don't think we actually ought to run numbers here. Too much depends on the specifics of people's setups, equipment, etc -- both experimentally and computationally. I'm just trying to tell people that they OUGHT to make some estimate of this themselves.

I added another paragraph to try and explain a little more about what I mean.

To put it another way -- about half the time when experimental co

[2019-12-20 00:42] davidlmobley commented on #53
Yes, if it were me I'd put a 2D structure inside each bubble, and probably also build in some cycle closure stuff.

Might also be worth citing (in the paper) recent work on improved layouts of chemical graphs, e.g.
- https://onlinelibrary.wiley.com/doi/full/10.1002/jcc.26095
- https://pubs.acs.org/doi/abs/10.1021/acs.jcim.9b00528

I heard that Chemical Computing Group was also doing stuff in this

[2020-01-01 18:40] ppxasjsm commented on #53
I added structures and cycles etc. here 959cd5d0a75b82d714541a121a12b636f2721b4b.

Will add the additional citations.

[2020-01-01 18:40] #53 closed

[2020-01-02 18:21] ppxasjsm commented on #62
I agree!

[2020-01-05 17:15] mrshirts commented on #59
Seems in scope.  Display of results is not my forte.

[2020-01-05 23:04] mrshirts opened #63 "formalize subsection vs subsection*?"
We should decide if we want numbering or not on subsections. I kind of like having numbers, but the most important part is to be consistent.

[2020-01-05 23:59] mrshirts commented on #57
OK, added a bunch of references with overleaf.  They are all in the Zotero group 'alchemical' folder.  I have not yet updated the .bib file on Overleaf yet, since I realized we are probably using different BetterBibText citation formats.  So my citations will not have the same citations as yours. Let me know what you were using (I couldn't quite get them right) and I will correct.

[2020-01-06 00:03] mrshirts commented on #56
I did a bunch more edits on the first half of section 8, up through the "are the simulations any good" section.

[2020-01-06 00:03] mrshirts commented on #55
I wrote a lot of text here, let me know if y'all think this is sufficient.

[2020-01-06 00:04] mrshirts commented on #22
I think that this has been addressed, and maybe subsumed by other sections now?

[2020-01-06 00:17] mrshirts opened #64 "Are we taking advantage of previous reviews?"
We should try to make sure we have covered the important points from previous reviews (or reject the points because they are beyond scope or wrong), and also referred to them for certain information that is beyond the scope of what we want to study.

Particular papers:
"Best Practices in Free Energy Calculations for Drug Design": https://doi.org/10.1007/978-1-61779-465-0_26
"An Introduction to Bes

[2020-01-06 16:48] davidlmobley commented on #59
Agree it seems in scope.

People also often reference Scott Brown's work on the maximum R^2 that can be expected even out of a perfect model given experimental error. This may also be worth mentioning in such a discussion.

[2020-01-06 16:52] davidlmobley commented on #63
I do like having numbering on subsections, as it makes it much easier to reference them from elsewhere (other sections, or other articles, etc.).

[2020-01-06 17:46] ppxasjsm commented on #63
Happy with numbers! Will make sure there are numbers.

[2020-01-06 17:52] ppxasjsm commented on #63
Done

[2020-01-06 17:52] #63 closed

[2020-01-06 17:53] ppxasjsm commented on #64
I'll go through this and check with the final checks of the document over the next few days.

[2020-01-06 17:55] ppxasjsm commented on #59
There is a small section on this now. I am not sure if we mention Scott Brown's work. I'll double check and add if necessary.

[2020-01-06 17:56] ppxasjsm commented on #57
I think just adding things to the alchemical folder is fine. I'll make sure to update the overleaf. Its probably easier than us trying to sync our BetterBibTeX versions.

[2020-01-06 17:57] ppxasjsm commented on #56
Wonderful thank you for your help!

[2020-01-06 17:58] ppxasjsm commented on #55
I'll take another look!

[2020-01-06 17:58] ppxasjsm commented on #22
Yes it has. I'll close this issue. Thank you!

[2020-01-06 17:58] #22 closed

[2020-01-06 18:00] ppxasjsm commented on #44
In case it is still unclear, if everyone just adds bits to alchemical collection I'll make sure the final version gets exported before submission with all the correct cite keys. Will close the issue, since its mostly been addressed.

[2020-01-06 18:00] #44 closed

[2020-01-06 18:13] mrshirts commented on #64
Probably worth dividing up the work.  I am willing to read over the documents that I am a co-author on.  Probably we want people to identify other reviews we should check over as well.

[2020-01-06 18:24] ppxasjsm commented on #64
Please post away!

[2020-01-06 20:45] brycestx commented on #64
I can cross check with what we did on "Relative Binding Free Energy Calculations in Drug Discovery: Recent Advances and Practical Considerations": https://doi.org/10.1021/acs.jcim.7b00564 in regards to RBFE calculations

[2020-01-07 12:05] jmichel80 commented on #64
The topics in some subsections in 4.X , 6.X and 7,X have also been touched on in ref 44

[2020-01-07 12:07] ppxasjsm commented on #64
which one is reference 44 I have just been messing around with references.

[2020-01-07 12:08] jmichel80 commented on #64
Prediction of protein-ligand binding affinity by free energy simulations: assumptions, pitfalls and expectations Michel, J. ; Essex, J. W. J. Comput. Aided Mol. Des., 24 (8), 639 -658 2010 http://dx.doi.org/10.1007/s10822-010-9363-3

[2020-01-07 17:33] ppxasjsm opened #65 "Review section on perturbation maps and cycle closure"
Section 7.1 and 8.3 both can use some improvements. Help with this would be appreciated

[2020-01-11 01:25] davidlmobley commented on #52
I took a quick pass through Section 5, made some fixes, and added some comments. There is more which could be done -- I'd like to work to improve logical flow and paragraphing and reduce use of passive voice -- but I'm out of time til at least next week. (The references I saw looked good so far though.)

I'll have to get back to Sections 4 and 6.

[2020-01-11 02:03] ppxasjsm commented on #52
My plan is to try and improve flow and text
consistency over the weekend to get a coherent final draft.

[2020-01-16 18:06] #61 closed

[2020-01-16 18:06] ppxasjsm commented on #57
Last I checked they all seemed fine.

[2020-01-16 18:06] #57 closed

[2020-01-16 18:07] #56 closed

[2020-01-16 18:07] ppxasjsm commented on #59
This was added.

[2020-01-16 18:07] #59 closed

[2020-01-16 18:08] #60 closed

[2020-01-20 20:35] #65 closed

[2020-01-20 20:37] ppxasjsm commented on #64
I tried to take these reviews into consideration, but maybe a few more explicit sentences in the early parts of the document would be helpful.

[2020-01-20 20:37] ppxasjsm commented on #62
I changed the manuscript to reflect this.

[2020-01-20 20:37] #62 closed

[2020-01-20 20:38] ppxasjsm commented on #49
I have made some edits to the section, some feedback/comments would be helpful though.

[2020-01-20 20:38] #48 closed

[2020-01-20 20:39] #33 closed

[2020-01-20 20:40] ppxasjsm commented on #4
@andrrizzi I think there is still a TODO in the text to give slightly more detailed example on how to define a weak and strong binder, if you could take a look at this that would be great! You can find the TODO on page 16 of the current draft.

[2020-01-20 20:41] #25 closed

[2020-01-20 20:41] #51 closed

[2020-01-20 20:42] ppxasjsm commented on #52
@davidlmobley Could I ask you to take another look at this? I made some minor changes here, but there were other bits that needed more urgent attention.

[2020-01-20 20:42] #55 closed

[2020-01-20 20:43] #58 closed

[2020-01-20 20:43] ppxasjsm commented on #54
I made some edits, can be reviewed as part of the final draft.

[2020-01-20 20:43] #54 closed

[2020-01-20 20:46] ppxasjsm opened #67 "all figures and their captions"
It would be good to check the following for all figures:
1. Are figures legible?
2. Do the figures make sense?
3. Are figure captions sufficiently descriptive?
4. Are figures mentioned in the text appropriately?

[2020-01-20 20:48] ppxasjsm opened #68 "Figure 9 -- data and legibility"
Figure 9 currently only has a pdf and not the underlying data and plotting script available. The labels are pretty small and difficult to read. @brycestx I believe you made the figure, can you help out?

[2020-01-20 21:00] ppxasjsm opened #69 "Formatting and content of Sec 10, 11, 12 and 13"
Sec: 10 software summary, 11: online resources, 12 benchmark sets, and sec 13 checklist seem to be a bit out of place.

I am currently in favour of probably removing the section on online resources, all the resources mention there are also cited elsewhere. I would like to have an overview of benchmark datasets that can be replaced by efforts David Hahn in a later issue.

I have been fighting the f

[2020-01-20 21:02] ppxasjsm opened #70 "Sec 9 Conclusions"
I think this section is quite crucial but missing any real conclusions at the moment. Mostly my fault, but could do with some input

[2020-01-20 21:04] ppxasjsm opened #71 "Section 8.7 best practices for data representation"
Please review.

[2020-01-20 21:05] ppxasjsm opened #72 "Section 8.6 Recommendations for analysis"
I think this should be covered in the checklist? Any opinions?

[2020-01-20 21:06] ppxasjsm opened #73 "8.5 Are my simulations any good?"
Please review.

[2020-01-20 21:09] ppxasjsm opened #74 "Section 8.4 Uncertainty estimations"
This section has some numerical references to unpublished results I don't know where from. Can this be addressed please? It could also maybe made a bit more tight. I am not 100% sure anymore who wrote this, was it @brycestx ?

[2020-01-20 21:11] ppxasjsm opened #75 "Section 8.1-8.3"
@jchodera can you please review figure 10 I recreated based on your figure?
I think in general these sections look good and I tried to make sure that the notation used here is also used in other sections.

[2020-01-20 21:19] ppxasjsm opened #76 "7.2.6 multiple binding modes"
I moved this section to the end. It seems quite long and waffely with some repeats from earlier in the manuscript. I would advocate to a have a short and precise bit on this and to me this somehow feels like the best place in the  whole of section 7.

[2020-01-20 21:22] ppxasjsm opened #77 "7.2.5 How long should I run my simulation for"
Also seems quite long and could be a bit more concise. Also there are a lot of recommendations to check for, is there any software that offers this support automatically? See also issue #68.

[2020-01-20 21:23] ppxasjsm opened #78 "7.2.4 sampling schemes"
Up fro review.

[2020-01-20 21:24] ppxasjsm opened #79 "7.2.3 alchemical pathway"
Mostly all there, review would be great!
There are some missing references I am unsure of and some fo the thermodynamic length stuff needs to be clarified.

[2020-01-20 21:26] ppxasjsm opened #80 "7.2.1 and 7.2.2"
Some missing citations I am unsure of and could be made a bit more concise.

[2020-01-20 21:27] ppxasjsm commented on #67
Particularly I would like some feedback for Fig.6. There seem to be different arrow conventions for drawing thermodynamic cycles, are there any preferences?

[2020-01-20 21:31] ppxasjsm opened #81 "7.1.2 absolute free energies"
The discussion on standard state and restraints is mostly there. I think Fig.6. should be mentioned in the text and some other aspects could be clarified a bit more.

[2020-01-20 21:33] ppxasjsm opened #82 "Sec 3 stat mech can tell us..."
Please review.

[2020-01-20 21:34] ppxasjsm opened #83 "Introduction"
I think there are couple of to do's mention here I am not 100 sure what to make of them. As it stands it isn't the best intro, but maybe this isn't that important.

[2020-01-20 21:36] ppxasjsm opened #84 "Section 2"
I incorporated a bunch of suggestions from people here and in general just gives a quick overview of the paper. If people could add to the list of symbols that might be helpful.

Also list of common terminology Aye or Ney?

[2020-01-20 21:42] agrossfield commented on #84
For what it’s worth, a broken out list of common terms, perhaps formatted like a glossary, can be really useful for new students trying to use your paper to get up to speed. We did something like that in the statistical error best practices paper.

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical Center

On Jan 20, 2020, at 4:36 PM, Toni Mey <notificati

[2020-01-20 21:43] ppxasjsm commented on #84
Good to know! So will expand on it. I'll take a look on how you did it.

[2020-01-21 11:59] jmichel80 commented on #70
suggested some edits, please tidy up and finalise

[2020-01-21 12:14] jmichel80 commented on #79
Done some minor edits, mostly because I don't think it's 100% true on arbitrary systems that the step wise approach is always better than the direct approach. Tidy up and finalize.

[2020-01-21 13:20] brycestx commented on #68
Good call, working on this now!

[2020-01-21 16:57] ppxasjsm commented on #70
Thank you!

[2020-01-21 19:12] Lnaden commented on #79
I've made an editing pass through this section and I think its close to ready now. I stripped out most of the things I could not find citations for or were not true in general, then indicated as such.  There is one block I could not find a citation for, but I found the original writer.

@jmichel80 I think your comment about the step wise approach was correct and restructured that paragraph to refl

[2020-01-21 19:38] davidlmobley commented on #79
@Lnaden -- are you **sure** that is from me? It (a) doesn't sound like me, (b) I don't remember having read it before, much less written it, and (c) can't imagine what a citation for that would be.

I realize GitHub says it was me. But I suspect what's going on here is that someone else edited Overleaf, and that commit was just me synchronizing Overleaf changes with those here. I suspect it comes

[2020-01-21 19:40] Lnaden commented on #79
No, I was going based on Github

Yeah, that makes more sense. I'll look through the Overleaf logs from that time and see if I can be more precise on the author. Thanks!

[2020-01-21 19:41] ppxasjsm commented on #79
I’ll update citations as long as they are  in the collection, thanks @Lnaden.

Yeah only @davidlmobley seems to push to fit from overleaf, so it’s not easy to track. I think @mrshirts had a go at this section?

[2020-01-21 19:44] Lnaden commented on #79
Found it, @brycestx was the author for that back on Mar 25, 2019. @brycestx any notion to what that was referencing? Otherwise we can just cut it.

[2020-01-21 20:47] brycestx commented on #79
@Lnaden Yes that was me. Let's cut it out. It is a scheme that was working well for us internally at STX for larger relative perturbations and we have not published it.

[2020-01-21 20:51] Lnaden commented on #79
Awesome, thanks for the update I've cut it and resolved the comment.

[2020-01-21 20:52] Lnaden commented on #73
I've made a review pass. The content looks good and I have fixed a couple of typos and misspellings. There was a missing citation for `pan2017quantitative`, but I think I found the article and have added it to the Zotero collection as it was missing.

[2020-01-22 23:21] davidlmobley commented on #67
I've gone through all of hte figures and made a few comments in the LaTeX. I also have these remarks:

- Figure 6: ABFE. My feeling is that the arrows don't go in the right directions. (However, seems consistent with Figure 2 directionality. I prefer arrows to form a cycle that connects the end states.) Also, should the receptor be labeled "receptor" instead of "host"?
- Figure 1A: This is a rotat

[2020-01-23 03:57] brycestx commented on #68
Just updated figure and added raw data in this [commit](https://github.com/michellab/alchemical-best-practices/commit/ad3d379e6ac03288af7179b32800f5616ecb7c2c). @ppxasjsm please review and let me know your thoughts

[2020-01-23 12:29] ppxasjsm commented on #68
@brycestx that's great! I made some very minor tweaks to it. Hope that is ok. Just  thought it would be good if the look of the figures is somewhat uniform and didn't think the coloured axes added much. I didn't touch the original code you had, so if you really disagree with my changes we can revert to what you added. I also increased the tick label size. Generally happy with the figure now.

[2020-01-23 14:29] brycestx commented on #68
I love it! Thank you!

[2020-01-23 14:34] ppxasjsm commented on #68
:)

[2020-01-23 14:34] #68 closed

[2020-01-24 14:59] andrrizzi commented on #49
I noticed that in this section we are defining configurational integral and difference in free energy two times using slightly different notations. I can take a pass and try to improve the flow and the coherence of the theory section if that's ok.

[2020-01-24 15:11] ppxasjsm commented on #49
That would be wonderful! Thank you!

[2020-01-24 23:41] davidlmobley commented on #78
I wonder if we should be mentioning more general expanded ensemble methods, eg like Brooks' lambda dynamics, etc. It seems somewhat strange to skip lambda dynamics and other expanded ensemble techniques and instead to mention SAMS, where there HAVE been binding free energy studies with expanded ensemble techniques generally but none yet with SAMS.

Maybe we ought to be adjusting this section so it

[2020-01-24 23:42] davidlmobley commented on #78
Taggin @andrrizzi @Lnaden @jchodera and @mrshirts for input here.

[2020-01-24 23:46] davidlmobley commented on #78
OK, I took a pass through this and cleaned up the language quite a bit. Except for the issue above I'm marking my part of this as resolved.

[2020-01-24 23:47] davidlmobley commented on #84
Enthused about list of common terminology. I'll have a quick look at that section and the tables there.

[2020-01-25 00:52] davidlmobley commented on #84
OK, took a pass.

[2020-01-25 01:19] davidlmobley opened #85 "Watch paragraphing"
I've been cleaning it up some as I edit, but in general, paragraphing needs help. It looks like someone has taken out a lot of the (otherwise logical) paragraph breaks and made a lot of subsections into single paragraphs. This should not be and makes for difficult reading.

Subsections should, in my opinion, usually be multiple paragraphs; if it's a single paragraph, I find myself asking, "Why do

[2020-01-25 01:19] davidlmobley commented on #52
Made it through Section 4. Reading Section 5 again now, trying to get to Section 6.

[2020-01-25 01:38] davidlmobley commented on #52
Done with section 5. There are some comments there which need dealing with.

I will hopefully get through Section 6 tonight or tomorrow.

[2020-01-25 07:39] ppxasjsm commented on #85
I may have been the culprit of this. Will check what I have done. Thanks for raising it!

[2020-01-25 07:40] ppxasjsm commented on #52
Thank you. Will deal with them.

[2020-01-25 19:45] davidlmobley commented on #52
OK I made it through section 6 @ppxasjsm . Made some improvements, responded to a couple comments/added a couple comments.

[2020-01-26 21:46] andrrizzi commented on #49
I've expanded the material in section 3 on overleaf. Please feel free to revert/modify any part of it.

I more or less preserved the approach but converted it into a short tutorial introducing the theory with a few more equations and explanations.

I've also made a few changes to section 7.1.2 to remove the unnecessarily redundant material and make the notation uniform.

[2020-01-27 21:55] andrrizzi commented on #80
I took a pass at 7.2.1. I'm not sure I made it more concise, but I added several citations and made it less waffly.

[2020-01-27 21:56] andrrizzi commented on #4
I addressed that TODO while working on #80. I think this issue can be closed.

[2020-01-27 23:18] ppxasjsm commented on #80
Thank you!

[2020-02-03 17:39] ppxasjsm opened #86 "complex binding stoichiometry and FEP"
Does anyone have a good reference here? I did a quick search, but found nothing massively convincing.

[2020-02-03 18:21] ppxasjsm commented on #49
Is lambda really a vector and not a scalar?

[2020-02-03 18:28] mrshirts commented on #49
It can be a vector.  For example, in GROMACS, LJ and vdw are separate components of a vector (restraints and bonded terms are other components)  and the total free energy is computed as:
dG = \int {\vec{dH/dlambda}  dot d\vec{\lambda).  Thus the vector is converted into a scalar integral.

Think of it as an N-dimensional cube, and any pathway connecting (0,0,0,. . ., 0) and (1,1,1,...,1) is a vali

[2020-02-03 18:49] ppxasjsm commented on #49
Yeah makes sense. I guess I have only used it as a factor and never thought of it in more detail. Will make sure that we use  it as a vector uniformly everywhere then.

[2020-08-06 10:29] #85 closed

[2020-08-06 10:30] #4 closed

[2020-08-06 10:30] #49 closed

[2020-08-06 10:30] #52 closed

[2020-08-06 10:30] #64 closed

[2020-08-06 10:30] #67 closed

[2020-08-06 10:30] #69 closed

[2020-08-06 10:30] #70 closed

[2020-08-06 10:30] #71 closed

[2020-08-06 10:30] #72 closed

[2020-08-06 10:30] #73 closed

[2020-08-06 10:30] #74 closed

[2020-08-06 10:30] #75 closed

[2020-08-06 10:30] #76 closed

[2020-08-06 10:30] #77 closed

[2020-08-06 10:30] #78 closed

[2020-08-06 10:30] #79 closed

[2020-08-06 10:30] #80 closed

[2020-08-06 10:30] #81 closed

[2020-08-06 10:30] #82 closed

[2020-08-06 10:30] #83 closed

[2020-08-06 10:30] #84 closed

[2020-08-06 10:30] #86 closed

[2020-08-11 14:01] vgapsys opened #90 "constraints, TI, gromacs"
page 16: "At present the most general solution to this problem is simply to avoid the use of constraints (and thus use a smaller timestep if necessary, usually of around 1fs) in any relative free energy calculation involving a transformation of a constrained bond, as done by GROMACS."

dH/dlambda calculated by Gromacs has a contribution from the LINCS constrained bonds, thus transforming constrain

[2020-08-11 18:07] ppxasjsm commented on #90
Great thanks! I'll fix this.

[2020-08-14 10:56] ppxasjsm commented on #90
commit 02a8c2e fixes this.

[2020-08-14 10:56] #90 closed

[2020-08-21 01:48] yunhuige opened #91 "Suggestions"
Hi,

I read the preprint on bioRxiv (https://arxiv.org/abs/2008.03067) and have following suggestions on this version:

1/ It seems Fig 9 and 12 are identical. Based on the captions, I believe Fig 9 is not the supposed figure.

2/ Some figures are far from where they are referred in the text. (e.g., Fig 5-7). I personally feel annoying if I have to scroll up and down multiple times to check figure

[2020-08-21 07:29] ppxasjsm commented on #91
Hey,

Thanks for the spot. This is due to the way the arxiv submission doesn't allow pdf uploads. I'll fix this on the arxiv.

I am afraid this cannot easily be fixed due to the fact that the paper is written in LaTeX and has automatic figure placement. I can try and improve this with proofs for a published version.

Yes! Ideally if you have a pragraph you would like to add please suggest it and a

[2020-08-21 07:39] ppxasjsm commented on #91
I will add you to the acknowledgements. Is it ok for you to appear as Yunhui Ge?

[2020-08-24 19:54] yunhuige commented on #91
I talked to Dr. Mobley and I will prepare a draft talking about the hybrid topology idea (and figures if necessary). Then I will pass it to Dr. Mobley for edits. Sound good? @ppxasjsm

[2020-08-24 19:55] ppxasjsm commented on #91
Yes sounds great! Thanks for this.

[2020-09-28 10:39] ppxasjsm commented on #91
@yunhuige, how are you getting on with this? We've had revisions back for version 1.0 and it would be great to also incorporate your edits.

[2020-09-28 10:50] ppxasjsm opened #93 "[review] Fig 1 inconsistency"
Figure 1: For me there is no intrinsic difference between the free energy calculations shown in panel D and F, both transformations should be performed in the bound and unbound states to obtain meaningful results, and both should be termed relative calculations (ΔΔG). Maybe it could be more clearly indicated in general if a whole molecule is decoupled and if only a part of a molecule is transforme

[2020-09-28 10:51] ppxasjsm opened #94 "[review] Section 4.1 issue"
Section 4.1, line 3: RMS errors to experiment? This should be clearly stated.
Section 4.1, line 30: it is not entirely clear to me what the authors mean by “edges”. This should be better explained in the text.
Section 4.1, end: There is a github URL in the text which is not referenced or explained directly. What can the reader expect to find on this git?

[2020-09-28 10:52] ppxasjsm opened #95 "[review] Opinion on timesteps?"
Thoughts and opinions on this?

Constraints and relative free energy calculations: for me, a timestep of 1 fs is more an upper limit for MD simulations involving non-constrained bonds, I would rather suggest a value of 0.5 fs.

[2020-09-28 10:53] ppxasjsm opened #96 "[review] Section 7"
Any thoughts on this comments?

Section 7.2.1: Using a flat-bottom restraining potential in which the ligand never hits the potential wall is similar to using no restraining potential at all. I would not suggest skipping a reweighting step; if the energetic contribution of the restraint is little, the reweighting will not introduce much noise and is technically easy to perform.
Section 7.2.5 and F

[2020-09-28 11:10] jmichel80 commented on #95
I haven't investigated this in depth personally. I think it is important to distinguish fully flexible setups vs setups where only the bonds involving hydrogen atoms are constrained.  The rule of thumb seems to be that the timestep should be <x10 the period of the fastest vibrational motions.

[2020-09-28 11:11] ppxasjsm opened #97 "[review] Figure 12"
Section 8.5 and Figure 12: Here I would again mention the use of both forward and reverse cumulative averages and plot them explicitly in Figure 12.

Is this possible to do? Is the data available?
[Figure.pdf](https://github.com/alchemistry/alchemical-best-practices/files/5291790/Figure.pdf)

[2020-09-28 11:18] jmichel80 commented on #96
The ms states

''Alternatively, a flat-bottom restraint can be activated also in the decoupled state as long as the second restraint (e.g., a harmonic or Boresch restraint) prevents the ligand to hit the wall of the flat-bottom potential [73].''

Not sure where the second restraint part bits come from.  This is not how we run ABFE with flat-bottom restraints. We use a  series of flat-bottom distan

[2020-09-28 11:18] ppxasjsm opened #98 "[review] Inclusion of Gromos"
Unsurprisingly I think the Gromos community was part of the review and found no Gromos content in the manuscript. I suppose this needs to be rectified.

I am not sure who knows much about Gromos. I know very little. I can also address some of these points, but if someone is in the know, please let me know.

Here are some general Gromos content comments:
Section 10: GROMOS is a simulation package w

[2020-09-28 11:20] ppxasjsm opened #99 "[review] Dealing with charges and changes in constraint length"
Any thoughts on this one?

-At the end of section 7.1.1 on pages 15/16 the following statement appears: “Typical molecular dynamics engines are not set up to recognize this change, or at least not to correctly include contributions to the free energy from changing constraints/constraint length, so results for a transformation would usually be erroneous.”
This statement is a bit surprising since me

[2020-09-28 11:21] ppxasjsm opened #100 "[review] use of alchemical methods in QM"
Does anyone have a good reference here if we include it?

-In the list of more advanced topics on page 3 the application to QM/MM simulations may be mentioned as well, since this seems to be an area of growing importance

[2020-09-28 11:26] ppxasjsm opened #101 "[review] Forcefield issues"
Thoughts on this? (@hannahbrucemacdonald )

-Much of the discussion is related to alchemical free-energy calculations in drug design. I think that the success of such calculations is also very dependent on the force field. Although not a topic of the present manuscript, the authors may want to issue a recommendation/warning regarding the validation of automatically generated ligand topologies. I g

[2020-09-28 11:27] ppxasjsm opened #102 "[review] Nomenclature"
Thoughts on this?

-In the list of symbols on page 4, the quantity \DeltaG is denoted as Gibbs free energy while \DeltaA is denoted as Helmholtz free energy. However, according to IUPAC or IUPAP these quantities are referred to as Gibbs energy or Helmholtz energy (see https://doi.org/10.1039/9781847557889 or https://doi.org/10.1016/0378-4371(78)90209-1) or sometimes also as “Gibbs function” or “He

[2020-09-28 11:28] ppxasjsm opened #103 "[review] Law of mass action and theory background"
(1) In Chap 3.1 Eq suggests that the law of mass action can be applied to calculate K_b and Delta G_B from MD simulations. I am aware the authors just mean to provide the conceptual background here, but I am similarly aware of a few groups that actually have used the LMA. This is very dangerous. As shown in [54], the LMA does not strictly hold for systems with very few particles, and it contradict

[2020-09-28 11:29] ppxasjsm opened #104 "[review] Fonts in figures"
Use larger fonts in Fig 2 &7, generally try to have equally-sized fonts throughout all Figs.

[2020-09-28 11:31] ppxasjsm opened #105 "[review] Uncertainty estimates"
This one is for @JenkeScheen  and @hannahbrucemacdonald

In 7.2.5, concerning uncertainty estimates. I found it helpful for many students to realize that free energy error estimates often suffer from exactly the same sampling problems as the free energy estimate itself. Specifically, if the free energy estimate is off because an important region in configuration space has not been sampled, the err

[2020-09-28 11:36] ppxasjsm opened #106 "[review] Morphing"
I suppose the issue below is still an open question and has no good answer? Should we give some recommendations here anyway?

 What impact does the way of morphing from state A to B have? Rules of thumb what should be avoided, and what helps? I saw sec 7.1.1., but found the focus on dual topology, single topology, or hybrid topology a bit narrow. I do understand that these are the established ones

[2020-09-28 11:37] ppxasjsm opened #107 "[review] accuracy increase for longer simulations?"
Is this the case?

Can the authors give some rules of thumb how fast the accuracy increases with simulation length? Is it always as simple as /sqrt(N)?

[2020-09-28 11:39] ppxasjsm opened #108 "[review] non-equilibrium methods"
Should we include more on these?

Non-equilibrium (Crooks) based calculations have been shown to be quite efficient, and IMHO should also be included (I did see it briefly mentioned in 7.2.4).

[2020-09-28 11:47] agrossfield commented on #105
As a non-author, I think this point is incredibly important. More to the point, internal uncertainty estimates are almost guaranteed to *underestimate* the statistical error (relative to repeated runs with distinct starting structures, the gold standard), because they’re based on the assumption that you’ve seen everything.

________________________________
Dr. Alan Grossfield
Dept of Biochemistry

[2020-09-28 11:51] ppxasjsm commented on #95
This is all I know as well.

[2020-09-28 13:26] yunhuige commented on #91
@ppxasjsm I prepared my draft and have sent it to Dr. Mobley. I will ask him for any updates today.

[2020-09-28 14:47] mrshirts commented on #102
I'm happy to add some text saying that there are other correct terms for these quantities. I would say, IUPAC can say what they think the name should be, but that hasn't yet changed what 98-99% of the publications/researchers use.  i.e. language is what people use.

[2020-09-28 14:51] mrshirts commented on #106
I'm happy to take a look at this, too.  I think the fundamental concept is that any pathway that transforms A to B is rigorously correct - the difference is the "thermodynamic distance" between them, i.e. a measure. I think the way to approach this is to describe best practices, while pointing out there are other ways to find low thermodynamic distance paths (and give some citations to be of inter

[2020-09-28 14:53] mrshirts commented on #107
It's basically as simple as 1/sqrt(N), where N is the number of uncorrelated samples.  In most cases, the uncertainty of free energy calculations does behave as normally distributed, and thus the 1/sqrt(N) calculation applies. This needs a bit more thought, though, to make it clear why it's the case. As a rule of thumb, this is fine, though.

[2020-09-28 14:56] mrshirts commented on #108
I think that although they are useful, they are not yet best practice. I think there are too many things that could go wrong. Maybe we need to recruit a paper on best practice for nonequilibrium calculations.  I think a useful perspective here is that we are writing a list of how to do these calculations for a smart person knows MD but hadn't done them before.  I don't think one would recommend no

[2020-09-28 15:05] hannahbrucemacdonald commented on #108
I think this would be a great idea and I would definitely want to read this

[2020-09-28 15:40] ppxasjsm commented on #102
That would be great if you could add some text!

[2020-09-28 15:41] ppxasjsm commented on #108
Seconded!

[2020-09-28 15:42] ppxasjsm commented on #91
Great! Thank you.

[2020-09-28 16:21] mrshirts commented on #105
I'm happy to add something on this as well (I will defer to other people to address this first since I have a number of other tasks).

[2020-09-28 16:23] mrshirts commented on #101
I see no reason for not adding that people need to check to make sure the automatically generated ligand topologies 1) are consistent with what the users thinking the are adding, and that 2) the document is focused on getting the correct, reproducible free energy given a choice of force field, but that the choice of force field is a separate question that is very important as well to get answers t

[2020-09-28 16:25] mrshirts commented on #100
I agree that free energy calculations for QM/MM should be mentioned as an advanced topic of interest, but should me made clear is out of scope (we should recruit a best practices paper on this!)

[2020-09-28 16:31] mrshirts commented on #95
I don't know that this has been investigated totally thoroughly, since most people at least put constraints on H-bonds and run at 2 fs (or even repartition the hydrogen mass and run at 4 fs/step). Maybe a recommendation that 0.5 fs is safer, but it's not clear there are definite problems with 1.0 fs in practice (I've seen some analyses that suggest that 0.8 fs may be good enough for all intents an

[2020-09-28 18:39] davidlmobley commented on #106
This is unresolved and mostly unexplored. Could add some text on this. Michael's points are also correct.

[2020-09-28 18:41] davidlmobley commented on #107
Was this a comment on a particular line number? Could help with edits along these lines.

[2020-09-28 18:46] davidlmobley commented on #101
Maybe also an explicit warning against web servers that are not associated with a particular reference/well validated practices (without naming ProDRG). I like to tell my students these are like buying off-brand sunglasses from the guy on the street corner.

[2020-09-28 18:48] davidlmobley commented on #100
No, but somewhat relatedly there's the Chodera lab recent work on ANIx endpoint corrections, which gets close to this.

[2020-09-28 18:50] davidlmobley commented on #105
Yes, it's important to state very clearly that if you've never seen something, you have NO WAY AT ALL of knowing you have never seen it. (I use a hiking analogy; until you climb to the top of some ridge you have no idea at all about what is in the next valley nor whether it even exists. No amount of information you collect about your initial valley can tell you how many other valleys are adjacent.

[2020-09-28 18:51] davidlmobley commented on #91
We've actually realized that this is super confusing in the literature, and there may not be a "correct" terminology, which has slowed me down on this point. I'll put it into the queue with the other issues you've assigned me.

[2020-09-28 18:53] davidlmobley commented on #108
We're close to finishing a big study on, basically, what can go wrong in NEQ calculations and how to detect it. They are not yet at the point, I think, where best practices are definitely known.

I agree they should be mentioned though.

[2020-09-28 18:55] davidlmobley commented on #99
I'd add the references/make the suggested changes.

I also agree with the point on section 7.2.2; this is one reason why doing hydration free energies for ions is a bad idea.

[2020-09-28 18:56] davidlmobley commented on #99
(Note though that this point does not exactly apply to binding, when one is transferring the ligand from the binding site to solution, so there doesn't have to be a change in formal charge.)

[2020-09-28 19:54] jmichel80 commented on #101
Maybe be slightly more explicit here, mention that generic organic forcefields occasionally get torsional energetics badly wrong, users should be mindful of the type of chemistry present in the ligand series they wish to apply AFE methods to.

[2020-09-28 19:58] jmichel80 commented on #106
There seems to be variability between codes due to technical decisions about how to implement the morphing (e.g. how to deal with interactions between dummy groups, softcore, how to couple bonded terms etc...) which make production of rules of thumb that apply equally well across packages difficult. Agree  with @davidlmobley that this is not at a stage where best practices have become clear.

[2020-09-28 20:03] jmichel80 commented on #99
Add the recent body of work of Oostenbrink and co-workers on charge corrections in binding free energy calculations. I don't think any of the charge correction approaches have been sufficiently tested  in depth to establish a best practice

[2020-09-28 20:18] jmichel80 commented on #100
Could cite some work from Jonathan Essex, Bernard Brooks, Michael Shirts on QM/MM corrections https://pubs.acs.org/doi/abs/10.1021/jp109054j https://pubs.acs.org/doi/abs/10.1021/acs.jctc.5b01188) , highlighting that this is still quite experimental (e.g. https://pubs.acs.org/doi/abs/10.1021/jp506459v)

Likewise for ML/MM approaches via extended thermodynamic cycles as done by Cole et al. (https://

[2020-09-28 20:21] ppxasjsm commented on #100
Sounds good! I can take this bit from here and add a little blurb in the text with the suggested citations.

Looks like you are getting many best practices papers in the future, they seem to lurke everywhere! Now just find willing volunteers.

[2020-09-29 09:57] JenkeScheen commented on #104
Presumably for fig 7 the only fonts that need to be made larger are the axis labels for C&D? In fig2 inflating the latex terms should be easy enough. Would you like me to do fig2? I'm not sure how you generated fig 7C/D

[2020-09-29 10:39] ppxasjsm commented on #104
There should be a script or notebook in the in the figures directory that has generated C and D. I then used keynote to plug everything together.

[2020-09-29 12:04] JenkeScheen commented on #104
for fig7 it should be easiest to just inflate the labels a bit. Am I correct that the keynote file with the assembled figure isn't there in the repo?

[2020-09-29 12:10] JenkeScheen commented on #104
Here's a .ai file with larger terms for fig2:
[thermo_cycle_rel_largefont.ai.zip](https://github.com/alchemistry/alchemical-best-practices/files/5298812/thermo_cycle_rel_largefont.ai.zip)

[2020-09-29 12:23] JenkeScheen commented on #93
I could
- change ΔG to ΔΔG for all rows
- swap E and F so that it's easier to compare the 'effect of mutations' with the 'relative FE of binding' row
- include an 'interaction' schematic to D to emphasise that the interaction with the ligand is affected by the mutation, such as here:
![image](https://user-images.githubusercontent.com/43140137/94557615-b611e080-0256-11eb-8ad5-c804587939cc.png)

let

[2020-09-29 12:24] JenkeScheen commented on #104
Should probably also make the 'Host' placement on the protein consistent with fig1.

[2020-09-29 13:15] ppxasjsm commented on #104
Can you add it as a pull request referecing this issue? sorry for being annoying, but will make things easier for me.

[2020-09-29 13:17] ppxasjsm commented on #93
I like all of these suggestions! Please go ahead with them!

[2020-09-29 13:22] ppxasjsm commented on #108
Ok sounds good. Anything I should cite in particular for this? I assume some of the Bert de groot citations etc. I feel like we are already mentioning non-equilirbium methods in the different sampling schemes figure, but happy to expand a little.

[2020-09-29 13:28] ppxasjsm commented on #107
I would imagine this is referring to section 7.2.5

[2020-09-29 13:41] ppxasjsm commented on #106
If someone would be willing to add a couple of lines along this at an appropriate point that would be great!

[2020-10-02 18:15] davidlmobley opened #110 "Overleaf sync to github no longer works after migration"
After migration, Overleaf synchronization to GitHub seems to no longer work. On overleaf I tried to pull in changes from GitHub but it fails ("not found" error). Same with push.

I don't seem to have an option to reconfigure GItHub synchronization, presumably because this belongs to @ppxasjsm .

[2020-10-02 18:36] davidlmobley commented on #107
Added this at the end of section 7.2.5 on Overleaf. Please review and close this issue if you're happy with the changes.

[2020-10-02 18:51] davidlmobley commented on #106
Added three paragraphs at end of 7.2.3. @mrshirts can you add references please? (And feel free to edit/adjust/etc.) At this point my edits are only in Overleaf.

[2020-10-02 18:53] davidlmobley commented on #108
The work of Vytas Gapsys (De Groot lab) is leading the way here. Cite that, please. Here's also a talk he gave which covers a lot of the work he's done, some of which I believe is still unpublished. Talk has DOI, so citeable: https://zenodo.org/record/3420778

[2020-10-02 18:54] davidlmobley commented on #108
Actually here's his other key paper: https://pubs.rsc.org/en/content/articlehtml/2020/sc/c9sc03754c

(He has a Google Scholar profile so that makes this easy.)

[2020-10-02 20:47] davidlmobley commented on #108
I'm making some edits to Overleaf:
- Add word "equilibrium" to abstract to indicate that's our focus (which is really the case)
- Added two mentions in Scope (Section 2) that we are NOT covering this here, along with one reference to Gapsys
- Added a mention in 3.2 that specifies we're talking about equilibrium calculations.
- Added sentence at end of 3.2 mentioning these
- Clarify mention of them

[2020-10-02 20:48] davidlmobley commented on #96
I don't have any insights on this, but I think @andrrizzi might.

[2020-10-02 20:49] davidlmobley commented on #95
I agree with the points above -- basically 2 fs with constraints on hbonds, 4 fs with HMR, and 0.5-1 fs without constraints of hbonds, plus the rule of thumb.

[2020-10-02 20:51] davidlmobley commented on #102
I agree with @mrshirts suggestion here and it'd be great if he'd edit along those lines. We're using the "dominant" terminology but should clarify that there are other correct terms.

(And yes, it does drive me nuts when people write about the "free enthalpy". )

[2020-10-02 20:52] davidlmobley commented on #100
I agree with Julien and don't have anything else to add here.

[2020-10-02 20:54] davidlmobley commented on #98
I don't. But... we could ask Chris Oostenbrink if he wants to propose some concrete edits (I don't know if the reviewer is him, but he's one of our editors). The citations are all good and things we should cite though.

Also the paper they note sounds like it'd be helpful and worth citing. A comparison of charge changes has indeed been a gap in this area. If you want to send it to me when you have

[2020-10-02 20:55] davidlmobley commented on #99
@mrshirts should comment on the constraint issue, as he dealt with this iN GROMACS at one point/investigated it. He may be in a better position to write something on that.

[2020-10-03 17:55] ppxasjsm commented on #98
I am happy to ask if Chris would like to propose some edits. This might be the easiest really.

[2020-10-04 15:10] hannahbrucemacdonald commented on #105
I've added two sentences, but it felt better putting in Section 8.4 rather than 7.2.5

[2020-10-04 15:14] hannahbrucemacdonald commented on #105
Also added something in 7.2.5

[2020-10-06 17:00] dfhahn commented on #98
Chris is certainly the better contributor here, but if he can't, I might be able to help.

[2020-10-06 17:02] ppxasjsm commented on #98
Oh that would be great! I haven't followed up on this yet, will email you both.

[2020-10-07 17:55] ppxasjsm commented on #100
Great! I'll make the changes for this.

[2020-10-09 08:12] andrrizzi commented on #103
I've updated Sections 3.1 and 3.2 on the overleaf document to address (1) and (2).

For (3), can someone with more experience on relative calculations check my interpretation below?

I assume the reviewer refers to Eq. 9 and the last sentences at the end of that paragraph. I can see two things they are suggesting us to warn the user about:
1. If the dummy atoms bonding terms are removed in the non

[2020-10-09 08:14] andrrizzi commented on #103
Possible answers for the response letter for (1) and (2):

(1) The referee raises a valid concern, and we have made the warning explicit in Section 3.2.
(2) The standard free energy is indeed what we are referring to throughout the paper. We have adopted the convention of using \Delta G (without the ^o) to refer to the standard free energy. This is common practice in the alchemical calculations li

[2020-10-09 10:32] ppxasjsm commented on #110
Yes...I broke this thinking it could be updated. Will probably have to create a new Overleaf repo, but will do this once all the edits for the revision are in.

[2020-10-09 10:33] ppxasjsm commented on #103
@andrrizzi, can you add comments for your edits to the review document? https://www.overleaf.com/project/5c5879b06343590b46b70041

[2020-10-09 11:20] andrrizzi commented on #103
Added answers for points (1) and (2) to the review document.

[2020-10-09 14:45] andrrizzi commented on #96
I've slightly changed the wording to clarify this point. The reweighting can be skipped if the ligand is never _sampled_ while hitting the wall because, as @jmichel80 says, the numerical correction would be exactly zero. Using the restraint is different from using no restraining potential at all because during the MD simulation the ligand might still very occasionally hit the wall (thus limiting i

[2020-10-09 20:27] andrrizzi commented on #97
I found some data that might be usable. What do you think about this? https://github.com/alchemistry/alchemical-best-practices/blob/update_fig_12/paper/figures/fig9_convergence/Figure.pdf

I have included in the plot a forward/reverse free energy trajectory for a single replicate. We could use it to show that the test can detect lack of convergence.

[2020-10-09 20:39] davidlmobley commented on #91
OK, so @yunhuige and I discussed the issue of single/hybrid/dual/separated topologies some more and I dug in to the literature a bit and have revised the relevant section (7.1.1) to clarify/make it more correct (for now on Overleaf). I think mainly we were using a term "hybrid" that I've not seen used except for by Gapsys, de Groot etc., to refer to something I called "separated topologies". So I'

[2020-10-09 20:40] davidlmobley commented on #99
Pinged Shirts on Slack.

[2020-10-09 21:27] davidlmobley commented on #97
Looks good, yes!

[2020-10-09 21:55] ppxasjsm commented on #91
Yes that would be great thanks!

[2020-10-09 21:57] ppxasjsm commented on #97
Great! Could the reference dashed line maybe not also be dashed? Maybe a straight one or dashed dotted or something to show that this is the reference?

[2020-10-11 10:08] andrrizzi commented on #97
Done! I went with the dash-dot line to make it different from the free energy trajectories. I have also updated the caption, the text in the manuscript, and the review document.

I have manually uploaded on overleaf the Figure.pdf file, but I haven't manually updated the code/data on overleaf since I suspect that will happen when it will be synched with github after the PR has been merged.

[2020-10-11 10:10] ppxasjsm commented on #97
Perfect! Looks great. I'll deal with the rest. I'll leave the issue open for now, but will close when I'll be working my way through all of it next week.

[2020-10-12 05:16] mrshirts commented on #107
Tweaked a bit more, looks good to me now.

[2020-10-12 05:19] mrshirts commented on #101
Was this text ever added anywhere?

[2020-10-12 05:20] mrshirts commented on #95
Do we need to add this explicitly somewhere?

[2020-10-12 13:31] ppxasjsm commented on #95
I am happy to add this recommendation but without a citation?

[2020-10-12 13:36] ppxasjsm commented on #101
Not that I am aware of so far.

[2020-10-12 13:37] ppxasjsm commented on #107
Great thanks! Will take a look in my big sweep.

[2020-10-12 15:14] ppxasjsm commented on #95
I had a chat with Ben Leimkuhler about this who has been looking at integrator stability alot. 1 fs is a good recommendation in terms of stability threshold, but accuracy can already be bad at 1 fs. It really depends on the type of integrator used and the implementation of it in the software package from my understanding of our discussion. So this may be more of a 'this is something you might want

[2020-10-12 16:29] mrshirts commented on #95
And I think there is a matter of criteria here. Detectable variation from the "true" answer may  be well below the limits of the statistical uncertainty of a free energy calculation. Maybe ask Ben what he means by "bad" in this case.  If it's causing errors of 0.2 kcal/mol in a binding free energy calculation, that's a problem.  If it's causing an error of 0.01 kcal/mol in both ends of a free ener

[2020-10-12 16:38] ppxasjsm commented on #95
I am not sure anyone has looked at this for alchemical type calculations in terms of how accuracy is affected. Ben certainly has not looked at this, but maybe this might something that warrants further investigation. The deviations beyond 1 fs for a water box they looked at are quite large, but then we are asking about small deviations around 1 fs timesteps.
Here is the reference:
https://royalsoc

[2020-10-12 19:34] mrshirts commented on #106
OK, added some stuff (in overleaf) and reorganized a bit.

[2020-10-12 19:43] mrshirts commented on #95
But that last study was with constraints, I think.

[2020-10-12 19:47] mrshirts commented on #95
I wrote a response in the "response" file, but realized I didn't know where this should go in the main document.  There's not an obvious place for "general simulation settings that could affect free energy calculations". Should there be?

[2020-10-12 20:03] mrshirts commented on #108
OK, I added a response to reviewers point here.

[2020-10-12 20:04] mrshirts commented on #106
And talked about it in the response to reviewers paper.

[2020-10-12 20:34] mrshirts commented on #101
Added something in 4.1, plus in response to reviewers.

[2020-10-12 20:42] mrshirts commented on #99
I added some comments on section 7.1 on this.  GROMACS supports the constraint changes in TI, but not in potential energy differences (so not BAR or MBAR).  I qualified what does and doesn't support it, and told people to look at their user manuals to check.

[2020-10-12 23:46] davidlmobley opened #112 "Add SI/Include example topology files in SI (later)"
For after our first publication, we should include some example input files in our supporting information, as per #91 :

We concluded that this was best done after our initiial publication.

[2020-10-12 23:46] #91 closed

[2020-10-16 17:32] ppxasjsm commented on #110
I have created a new project, but will still edit the old one while doing the revision. The view link is here:
https://www.overleaf.com/read/pxkprkwxyjkk

[2020-10-16 17:37] #107 closed

[2020-10-16 17:40] #106 closed

[2020-10-16 17:46] ppxasjsm commented on #105
Thank you!

[2020-10-16 17:46] #105 closed

[2020-10-16 17:46] ppxasjsm commented on #103
Thank you!

[2020-10-16 17:53] ppxasjsm commented on #104
I think this has been address. Thanks you!

[2020-10-16 17:53] #104 closed

[2020-10-16 17:55] ppxasjsm commented on #102
@mrshirts, I may have too hastily accepted some of the changes. Did you make edits along this way? If not any chance you could address this?

[2020-10-16 17:55] ppxasjsm commented on #101
Thank you!

[2020-10-16 17:55] #101 closed

[2020-10-19 16:16] ppxasjsm commented on #95
I'll do something about this. Thank you for the current input!

[2020-10-19 16:17] ppxasjsm commented on #94
Thanks you. Will deal with the last one.

[2020-10-19 16:17] ppxasjsm commented on #93
Thank you for the figure changes.

[2020-10-19 16:17] #93 closed

[2020-10-20 10:44] ppxasjsm commented on #94
All fixed.

[2020-10-20 10:44] #94 closed

[2020-10-20 11:10] ppxasjsm commented on #95
I added a small whole new section now and have hopefully addressed this sufficiently.

[2020-10-20 11:10] #95 closed

[2020-10-20 11:13] ppxasjsm commented on #96
Looks good! Thank you

[2020-10-20 11:13] #96 closed

[2020-10-20 11:15] #97 closed

[2020-10-20 11:42] ppxasjsm commented on #100
I have added the references.

[2020-10-20 11:42] #100 closed

[2020-10-20 13:51] ppxasjsm commented on #99
Thanks you, I also added a couple more of the suggested references.

[2020-10-20 13:51] #99 closed

[2020-10-20 17:17] ppxasjsm commented on #102
Thanks!

[2020-10-20 17:17] #102 closed

[2020-10-20 17:29] ppxasjsm opened #114 "[review] conformation v configuration"
We seem to be using configuration and conformation pretty much interchangeably in the manuscript ( I suspect whoever wrote a section has a favourite term here). Should this be made more uniform? Thoughts anyone?

[2020-10-20 17:42] ppxasjsm opened #115 "[revision] Fig2"
@JenkeScheen, sorry there is another thing that needs to be fixed and my illustrator isn't working...and don't have time to figure it out right now.

The $\Delta G_{\mathrm{solvated}}$ label should read:  $\Delta G_{\mathrm{unbound}}$, also make sure if you use LaTeXit, that you use the mathrm for all the labels otherwise the subscripts look funny. Could you please update this?

[2020-10-20 17:52] Lnaden commented on #114
I have seen both terms used interchangeably, and I'd bet your suspicion is correct. I would say we should adhere to strict definitions to avoid potential confusion. I propose the following definitions:

* Conformation: Positions and specific geometry of molecular structures, can refer to physical atoms/bonds/angles/etc.
* Configuration: A set of options or choices made by the scientist or software

[2020-10-20 21:17] andrrizzi commented on #103
Just to make sure this wasn't closed prematurely, I haven't addressed (3) yet (see my question above).

[2020-10-21 07:31] ppxasjsm commented on #103
Yes sorry. I hadn't seen that third part.

I am not sure if this is possible in practice for relative calculations, unless you write your own software? I think standard implementations in Amber, Gromacs and Sire deal with this. Maybe someone else has thoughts on this?

[2020-10-21 07:35] ppxasjsm commented on #114
Interesting. I think it very much depends if you are a statmech person or a chemistry person. Because I would have said that a configuration is the spatial positions and conformation is more broadly a shape. I have never really thought about it though. I think your suggestion makes sense. And yes a configuration is also how you configure your software, but I would have not used it in this context

[2020-10-21 11:01] JenkeScheen commented on #115
fixed. sent corrected files to you on slack.

[2020-10-21 12:07] mrshirts commented on #114
Should we just say they are used interchangeably to refer to the 3D coordinates of the system at given point in time?  I guess the one point of ambiguity is if "conformation" is being used as label for a bunch of 3D coordinates that together represent a metastable state.

[2020-10-21 12:40] ppxasjsm commented on #115
thanks!

[2020-10-21 12:40] #115 closed

[2020-10-21 12:59] Lnaden commented on #114
That might be a better approach. Since this is meant to be a best practices paper, telling readers they could encounter both in the wild would be helpful. I still say we unify it throughout this paper just to unify the language more.

I also would say configuration over conformation in my own writing. My definitions above were to minimize any ambiguity independent of reader background.

[2020-10-21 13:00] hannahbrucemacdonald commented on #114
Yes, I can’t really put into words what a difference would be. I think what Levi is describing with configuration I would call parameters.

Saying that they are both used interchangeably is probably best seeing as there’s no clarity!

[2020-10-21 13:05] ppxasjsm commented on #114
I had exactly the same thought, but then thought parametrisation is also not quite right.

I may use configuration for when talking about position vectors, but will point out that there is mixed use.

Thanks for the input!

[2020-10-23 20:26] andrrizzi commented on #114
I believe chemists use conformations to mean different geometries with the same topology (so no bond breaking) and configurations instead include all possible geometries of the atoms (including those with different bond topologies). In stat mech the two are often interchangeable because we just integrate over the full Boltzmann distribution determined by a force field potential that doesn't allow

[2020-10-23 20:53] jmichel80 commented on #114
Agree with @mrshirts here . Configuration = one microstate defined by position vector (hence configuration integral or configurational integral). Conformation = ambiguous meaning that depends on the context.

[2020-11-03 07:59] #98 closed

[2020-11-03 15:50] ppxasjsm commented on #114
I updated the manuscript accordingly.

[2020-11-03 15:50] #114 closed

[2020-11-03 15:51] ppxasjsm commented on #103
So...this third point? I also thought this was dealt with and would not pose massive issues. @mrshirts?

[2020-11-03 15:52] ppxasjsm commented on #108
Looks all good.

[2020-11-03 15:52] #108 closed

[2020-11-03 16:56] mrshirts commented on #103
So, the offending section seems to be:

"Note that, when $A$ and $B$ have different number of atoms, Eq.~\ref{eq:delta-delta-G-alchemical} implies the presence of a factor having units of volume entering both logarithms, which require unitless arguments.
However, the value of this factor is inconsequential as it cancels out in practice."

Looking at the equation, you have ln( Z(RB)Z/(RA)) - ln Z(B

[2020-11-09 11:03] #103 closed

[2020-12-26 19:36] mrshirts opened #118 "DOI included inconsistently in citations"
Probably should be consistent on including DOI for final version.

[2020-12-26 20:06] mrshirts opened #119 "Figure 12 has inconsistent labels"
The labels on Figure 12 say OA-G6, but it's listed in the text as OA-G3. This should be reconciled!

[2020-12-29 12:20] andrrizzi commented on #119
I'm positive the plotted data refers to OA-G6 so the error is in the text. Thanks for catching this.

[2020-12-29 16:10] mrshirts commented on #119
So the text will need to be clarified a bit more, since it talks about G3 in two different hosts, which is apparently not the case - one is G3 and one is G6.

[2021-01-12 10:38] #110 closed

[2021-03-17 00:30] ppxasjsm commented on #118
I have added all the DOIs where available.

[2021-03-17 00:30] #118 closed

[2021-03-17 00:33] ppxasjsm commented on #119
Fixed

[2021-06-02 23:27] mkgilson opened #121 "A few typos and questions"
Great paper! Here are a few items for your consideration...

page 20, 5 lines above section 7: practise-->practice

page 22, second bullet: cyro-->cryo

page 22, first bullet in Affinity data ("single source"): can this be defined more specifically? In particular, my thought is that data on the same protein in several papers from the same lab/company can be viewed as "single source", but I'm curio

[2021-06-10 13:51] ppxasjsm commented on #121
Thank you for the input! Much appreciated.

Will fix the typos.

Excellent point.

I agree with your point here, will add a comment along these lines.

You mean RMSE here right? I think we are using something similar too. Making an explicit statement about this would make sense will update the text.

[2021-07-26 23:18] mkgilson commented on #121
Thanks for the replies! Yes, I meant RMSE.

[2021-10-07 12:03] jasmin-guven opened #122 "Possible typo with in-text reference to a figure"
Hi,

I believe there is a typo with the in-text reference to Figure 1, on page 6. The text refers to Fig. 1F, but I believe this should be 1E.

Thanks!

[2022-02-11 04:31] smutao opened #123 "add some description on WHAM?"
In section 8.3, many estimators were summarized. Is it possible to also have some description on WHAM? Because WHAM was mentioned a few times in the paper (especially in the "recommendations"). Thanks a lot for contributing this great review article.

[2022-02-14 04:21] jchodera commented on #123
This is a good suggestion! In general, we now prefer [MBAR](https://doi.org/10.1063/1.2978177) and related statistically optimal binless formulations to histogram-based WHAM methods because they are computationally and statistically superior, but the relationships here should be clearly explain with all the relevant references---and summaries of how they are useful in illuminating properties---sho

[2022-02-14 08:49] ppxasjsm commented on #123
I agree with John's statement here. Actually, the TRAM papers do lay out the connections quite well, so this is something I can probably tackle too.

[2022-02-14 15:30] agrossfield commented on #123
I largely agree. Just about the only upside to wham for this kind of application is that it’s faster and less memory intensive because your storage scales as the histogram size rather than the number of data points, but there are very few if any cases where the difference is enough to actually matter. Given that wham never really caught on in the alchemical space, I’m not sure it’s worth more than

[2022-02-14 15:37] jchodera commented on #123
@agrossfield : The reason it never caught on is that in cases where the alchemical coordinate is not simply linearly scaling potentials requires highly multidimensional histograms where the efficiency gain is lost. In parallel tempering, histogram WHAM is absolutely the winner, and can even be used to initialize histogramless WHAM / MBAR which converges extremely quickly.

@ppxasjsm : Great point!

[2022-02-14 16:38] agrossfield commented on #123
﻿I agree. My point was simply that there isn’t a community of folks using wham (or a bunch of literature) that you need to counter as being non-best practices. From what I’ve seen, 99% of papers doing alchemy either do perturbation or mbar (or thermodynamic integration, which is a separate issue), and so you just need to recommend doing mbar or tram (I’ll defer to your superior expertise as to whi

[2022-02-23 00:45] samarjeet opened #124 "Dual Topology Figure"
In the dual topology example shown in the right side of Figure 3, shouldn't the H atom at the top ( and the M-placeholder in the middle) be connected to the C of the benzene rather than the dummy (M-placeholder)?
The bottom figure of the dual topology with the dummy corresponding to H connected to the C is correct.

[2022-02-23 02:10] smutao commented on #123
Hello Profs. Chodera, Mey and Grossfield,
thank you for considering my suggestions.
YT

[2022-02-23 07:44] ppxasjsm commented on #123
Will leave this open until it has actually been addressed in the text!

[2022-02-23 18:30] ppxasjsm commented on #124
I think you are right! @JenkeScheen, any chance you could fix this?

[2022-02-23 23:13] samarjeet commented on #124
Was the original image made using photoshop/gimp? I can fix it if the "working-project" for this image is shared with me.

[2022-02-24 01:18] Lnaden commented on #124
Looks like the Adobe illustrator files are here in the repo [here](https://github.com/alchemistry/alchemical-best-practices/tree/master/paper/figures/fig3_topol/Topologies)

[2022-05-10 01:08] jchodera opened #126 "Expand on nonequilibrium switching"
It would be useful if we could expand on the kind of data that is generated by nonequilibrium switching or cycling calculations and the analysis strategies for these.

[2022-05-10 01:09] jchodera opened #127 "Add discussion of Alchemical Transfer Method"
It would be useful to add a brief discussion of the alchemical transfer method ([absolute](https://arxiv.org/abs/2101.07894) | [relative](https://pubs.acs.org/doi/10.1021/acs.jcim.1c01129)).

[2022-05-10 04:11] mrshirts commented on #126
Do you have a recommendation for a review / set of papers on this? I feel like there's still a little uncertainty about the what the best practices are in this area.